.header-icons {
    font-size: 2em;
    padding: 15px;
    cursor: pointer;
}
.header-menu{
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #cfcfcf;
    padding: 5px 0px;
}

.search-box{
    div{
        border-radius: 8px;
    }
    .search-input{
        border: none;
        padding: 6px 20px;
        font-size: 22px;
        outline: none;
    }
}

@media screen and (max-width: 768px) {
  .header-menu{
      flex-wrap: wrap;
      .left-container{
          order: 1;
      }
      .search-box{
          order: 3;
          width: 100%;
          margin: 0 8px;
      }
      .right-container{
          order: 2;
      }
  }
}