.header-icons {
    font-size: 2em;
    padding: 15px;
    cursor: pointer;
}
.header-menu{
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #cfcfcf;
    padding: 5px 0px;
}

.search-box{
    div{
        border-radius: 8px;
    }
    .search-input{
        border: none;
        padding: 6px 20px;
        font-size: 22px;
        outline: none;
    }
}