
.notes-container{

    // row based layout
    // display: flex;
    // flex-wrap: wrap;
    // margin-top: 15px;

    // flex-based masonry
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    align-items: flex-start;
    flex-wrap: wrap;

    // for masonry using css columns
    // width: 1200px;
    // column-count: 4;
    // column-gap: 10px;
}

.notes .notes-layout{
    // width: 100%;
    // margin: 0 0 20px;
}

