
.notes-container{

    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;

    // for masonry

    // width: 1200px;
    // column-count: 4;
    // column-gap: 10px;
}

.notes .notes-layout{
    // width: 100%;
    // margin: 0 0 20px;
}

